<html>
  <head>
    <title>Pogo Examples</title>
    <link rel="stylesheet" type="text/css" href="samples.css" />
    <link rel="stylesheet" type="text/css" href="highlight.css" />
  </head>
  <body>
    <a href="https://github.com/featurist/pogo-examples">
      <img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" />
    </a>
    <h1>PogoScript to JavaScript Examples</h1>
    <p>
      Side-by-side examples of <a href="http://pogoscript.org">PogoScript</a> compiling to JavaScript.
    </p>
    <table>
      {{#each examples}}
      <tr>
        <th colspan="2"><h2>{{this.name}}</h2></th>
      </tr>
      <tr>
        <td class="pogo">
          <pre><code>{{{this.pogo}}}</code></pre>
        </td>
        <td class="javascript">
          <pre><code>{{{this.js}}}</code></pre>
        </td>
      </tr>
      {{/each}}
    </table>

  </body>
</html>